{% extends '../layout.html' %}

{% block content %}
<h4>ログイン</h4>
<section class='common-form'>
    {% if form.errors %}
        <p class='error-msg'>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p class='error-msg'>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p class='error-msg'>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form action='{% url "login" %}' method='post'>
        <div class="card col-8">
            <div class="card-body">
                {% csrf_token %}
                <input type='hidden' name='next' value='{{ next }}'/>
                {{ form.as_p }}
                <button type='submit' class='submit btn btn-primary btn-lg btn-block col-4'>ログイン</button>
            </div>
        </div>
    </form>
</section>
{% endblock %}