{% extends 'layout.html' %}

{% block content %}

<h4>管理者ユーザー一覧</h4>
<form class="search-form" method="get">
    <input class="form-control" type="search" value="{{ request.GET.query }}" 
           name="query" type="text" 
           placeholder=" 拠点名or苗字or名前">
    <button class='submit btn btn-primary btn-lg btn-block'>検索</button>
</form>

<table class='table' style="background-color: white;margin-top: 20px;">
    <tr>
        <th>ユーザー名</th>
        <th>拠点名</th>
        <th>スタッフ権限</th>
        <th></th>
    </tr>
    {% for adminuser in object_list %}

    <tr>
        <td>{{ adminuser.last_name }}{{ adminuser.first_name }}</td>
        <td>{{ adminuser.base }}</td>
        <td>{{ adminuser.is_staff }}</td>
        {% if user.is_staff == True or user.pk == adminuser.pk %}
            <td><a href="{% url 'accounts:delete' pk=user.pk %}">>>>管理者を削除する</a></td>
        {% else %}
            <td>削除できません</td>
        {% endif %}
    </tr>
    {% endfor %}
    <div>
      <a href='{% url "accounts:signup" %}'>管理者ユーザー登録へ</a>
    </div>
</table>

{% endblock %}