<!doctype html>
{% extends 'analytics/base.html' %}

{% block content %}
    <h4>石川斗也大先生の感情</h4>
    <table class='table' style="background-color: white;">
        <tr>
            <th>感情</th>
            <th>値</th>
            <th>日付</th>
            <th>本文</th>
        </tr>
        {% for emotion in emotions %}
            <tr>
                <td>
                    {% if emotion.score >= 0.6 %}
                        ポジティブ
                    {% elif emotion.score >= 0.4 %}
                        ニュートラル
                    {% else %}
                        ネガティブ
                    {% endif %}
                </td>
                <td>{{emotion.score}}</td>
                <td>
                    {{emotion.ts}}
                </td>
                <td>
                    {{emotion.text}}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}