{% extends 'layout.html' %}
{% block content %}

<h4>情報の{{ object|yesno:'更新,作成'}}</h4>

<form action='' method='post'>{% csrf_token %}
  <div class="card">
    <div class="card-body">
      {{ form.non_field_errors }}
      {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}"><b>{{ field.label_tag }}</b></label>
            <div>
              {{ field }}
              {{ field.errors }}
            </div>
        </div>
      {% endfor %}
      {% csrf_token %}
      <button type='submit' class='submit btn btn-primary btn-lg btn-block col-4'>{{ object|yesno:'更新する,作成する'}}</button>
    </div>
  </div>
</form>
<div style="margin-bottom:40px;">
    <a href='JavaScript:history.back()'>&lt; 戻る</a>
</div>

{% endblock %}

{% block extrajs %}
    <script>
        const BaseElement = $('#id_base');
        const departmentElement = $('#id_department');
        const departments = {
            {% for base in base_list %}
                '{{ base.pk }}': [
                    {% for department in base.department_set.all %}
                        {
                            'pk': '{{ department.pk }}',
                            'name': '{{ department.name }}'
                        },
                    {% endfor %}
                ],
            {% endfor %}
        };


        const changeDepartment = (select) => {
            departmentElement.children().remove();

            const baseId = BaseElement.val();
            const departmentList = departments[baseId];

            for (const department of departmentList) {
                const option = $('<option>');
                option.val(department['pk']);
                option.text(department['name']);
                departmentElement.append(option);
            }

            if (select !== undefined) {
                departmentElement.val(select);
            }
        };


        $('#id_base').on('change', () => {
            changeDepartment();
        });


        if (BaseElement.val()) {
            const selectedDepartment = departmentElement.val();
            changeDepartment(selectedDepartment);
        }

    </script>
{% endblock %}