{% extends 'layout.html' %}

{% block content %}
    <h4>拠点別ダッシュボード</h4>
    <form class="search-form" method="get">
        <input class="form-control" type="search" value="{{ request.GET.query }}" 
               name="query" type="text" 
               placeholder=" 拠点名">
        <button class='submit btn btn-primary btn-lg btn-block'>検索</button>
    </form>
    <table class='table' style="background-color: white;">
        <tr>
            <th>拠点名</th>
            <th>チャンネル数</th>
            <th>メンバー数</th>
            <th>今週の投稿数</th>
            <th>今週のメンバー<br>平均投稿数</th>
        </tr>
        {% for base in object_list %}
            <tr>
                <td style="color: #3d9ae5 ;"><a href="{% url 'analytics:base_detail_dashboard' base.pk %}">{{base.name}}</a></td>
                <td>{{base.channel_count}}</td>
                <td>{{base.member_count}}</td>
                <td class="number">{{base.one_week_posts_count}}<span>(先週比{{base.compare_posts_count}})</span></td>
                <td class="number">{{base.per_posts}}<span>(先週比{{base.compare_per_posts}})</span></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}