{% extends 'layout.html' %}

{% block content %}
    <h4>{{base_detail.name}}のダッシュボード</h4>
    <table class='table' style="background-color: white;">
        <tr>
            <th>拠点名</th>
            <th>チャンネル数</th>
            <th>メンバー数</th>
            <th>今週の投稿数</th>
            <th>今週のメンバー<br>平均投稿数</th>
        </tr>
            <tr>
                <td style="color: #3d9ae5 ;">{{base_detail.name}}</td>
                <td>{{base_detail.channel_count}}</td>
                <td>{{base_detail.member_count}}</td>
                <td class="number">{{base_detail.one_week_posts_count}}<span>(先週比{{base_detail.compare_posts_count}})</span></td>
                <td class="number">{{base_detail.per_posts}}<span>(先週比{{base_detail.compare_per_posts}})</span></td>
            </tr>
    </table>
    <h4>直近1ヶ月の投稿チャンネル比率</h4>
    <div class="chart" id="circle_chart"></div>
    <h4>半年間の週当たり投稿数推移</h4>
    <div class="chart" id="line_chart"></div>
{% endblock %}
{% block extrajs %}
    <script>
        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawLineChart);
        google.charts.setOnLoadCallback(drawCircleChart);

        function drawLineChart() {
            {% autoescape off %}
                var post_date_list = {{postDateList}};
            {% endautoescape %}
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', '月');
            data.addColumn('number', '投稿数');
            data.addRows(post_date_list);

            // Set chart options
            var options = {
                'height':500
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.LineChart(document.getElementById('line_chart'));
            chart.draw(data, options);
        }
        function drawCircleChart() {
            {% autoescape off %}
                var posts_count_department = {{base_detail.posts_count_per_department}};
            {% endautoescape %}
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', '月');
            data.addColumn('number', '投稿数');
            data.addRows(posts_count_department);

            // Set chart options
            var options = {
                'height':500
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('circle_chart'));
            chart.draw(data, options);
        }

    </script>
{% endblock %}