{% extends 'analytics/base.html' %}

{% block content %}
    <h4>チャンネル別ダッシュボード</h4>
    <table class='table' style="background-color: white;">
        <tr>
            <th>チャンネル名</th>
            <th>拠点名</th>
            <th>今週の投稿数</th>
        </tr>
        {% for dashboard in dashboards %}
            <tr>
                <td style="color: #3d9ae5 ;">{{dashboard.channel_name}}</td>
                <td>{{dashboard.base}}</td>
                <td class="number">{{dashboard.one_week_posts_count}}<span>(先週比{{dashboard.compare_posts_count}})</span></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}