{% extends 'layout.html' %}

{% block content %}
    <h4>チャンネル別ダッシュボード</h4>
    <form class="search-form" method="get">
        <input class="form-control" type="search" value="{{ request.GET.query }}" 
               name="query" type="text" 
               placeholder=" チャンネル名or拠点名or部署名">
        <button class='submit btn btn-primary btn-lg btn-block'>検索</button>
    </form>
    <table class='table' style="background-color: white;">
        <tr>
            <th>チャンネル名</th>
            <th>拠点名</th>
            <th>部署名</th>
            <th>今週の投稿数</th>
        </tr>
        {% for channel in object_list %}
            <tr>
                <td style="color: #3d9ae5 ;">{{channel.name}}</td>
                <td>{{channel.base}}</td>
                <td>{{channel.department}}</td>
                <td class="number">{{channel.one_week_posts_count}}<span>(先週比{{channel.compare_posts_count}})</span></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}