{% extends 'layout.html' %}

{% block content %}
        <h4>{{base.name}}のダッシュボード</h4>
        <table class='table' style="background-color: white;">
            <tr>
                <th>拠点名</th>
                <th>チャンネル数</th>
                <th>メンバー数</th>
                <th>今週の投稿数</th>
                <th>今週のメンバー<br>平均投稿数</th>
            </tr>
                <tr>
                    <td style="color: #3d9ae5 ;"><a href="{% url 'analytics:base_detail_dashboard' base.pk %}">{{base.name}}</a></td>
                    <td>{{base.channel_count}}</td>
                    <td>{{base.member_count}}</td>
                    <td class="number">{{base.one_week_posts_count}}<span>(先週比{{base.compare_posts_count}})</span></td>
                    <td class="number">{{base.per_posts}}<span>(先週比{{base.compare_per_posts}})</span></td>
                </tr>
        </table>
        <h5>投稿数が多いメンバー</h5>
            <table class='table' style="background-color: white;">
                <tr>
                    <th>メンバー名</th>
                    <th>拠点名</th>
                    <th>部署名</th>
                    <th>今週の投稿数</th>
                </tr>
                {% for employee in base.active_employee %}
                    <tr>
                        <td style="color: #3d9ae5 ;"><a href="{% url 'analytics:employee_detail_dashboard' employee.pk %}">{{employee.name}}</a></td>
                        <td>{{employee.base.name}}</td>
                        <td>{{employee.department.name}}</td>
                        <td class="number">{{employee.one_week_posts_count}}<span>(先週比{{employee.compare_posts_count}})</span></td>
                    </tr>
                {% endfor %}
            </table>
        <h5>投稿数が少ないメンバー</h5>
            <table class='table' style="background-color: white;">
                <tr>
                    <th>メンバー名</th>
                    <th>拠点名</th>
                    <th>部署名</th>
                    <th>今週の投稿数</th>
                </tr>
                {% for employee in base.passive_employee %}
                    <tr>
                        <td style="color: #3d9ae5 ;"><a href="{% url 'analytics:employee_detail_dashboard' employee.pk %}">{{employee.name}}</a></td>
                        <td>{{employee.base.name}}</td>
                        <td>{{employee.department.name}}</td>
                        <td class="number">{{employee.one_week_posts_count}}<span>(先週比{{employee.compare_posts_count}})</span></td>
                    </tr>
                {% endfor %}
            </table>
            <h5>投稿数の減少幅が大きいメンバー</h5>
            <table class='table' style="background-color: white;">
                <tr>
                    <th>メンバー名</th>
                    <th>拠点名</th>
                    <th>部署名</th>
                    <th>今週の投稿数</th>
                </tr>
                {% for employee in base.less_motivation_employee %}
                    <tr>
                        <td style="color: #3d9ae5 ;"><a href="{% url 'analytics:employee_detail_dashboard' employee.pk %}">{{employee.name}}</a></td>
                        <td>{{employee.base.name}}</td>
                        <td>{{employee.department.name}}</td>
                        <td class="number">{{employee.one_week_posts_count}}<span>(先週比{{employee.compare_posts_count}})</span></td>
                    </tr>
                {% endfor %}
            </table>
        <h5>直近1ヶ月の投稿チャンネル比率</h5>
        <div class="chart" id="circle_chart"></div>
        <h5>半年間の週当たり投稿数推移</h5>
        <div class="chart" id="line_chart"></div>
{% endblock %}
{% block extrajs %}
    <script>
        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawLineChart);
        google.charts.setOnLoadCallback(drawCircleChart);

        function drawLineChart() {
            {% autoescape off %}
                var post_date_list = {{postDateList}};
            {% endautoescape %}
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', '月');
            data.addColumn('number', '投稿数');
            data.addRows(post_date_list);

            // Set chart options
            var options = {
                'height':500
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.LineChart(document.getElementById('line_chart'));
            chart.draw(data, options);
        }
        function drawCircleChart() {
            {% autoescape off %}
                var posts_count_department = {{base.posts_count_per_department}};
            {% endautoescape %}
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', '月');
            data.addColumn('number', '投稿数');
            data.addRows(posts_count_department);

            // Set chart options
            var options = {
                'height':500
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('circle_chart'));
            chart.draw(data, options);
        }

    </script>
{% endblock %}